{% extends "templates/base.html" %}
 
{% block title %}
簡單的討論版 - {{ subject.title }}
{% endblock %}
 
{% block content %}
<h1>主題名稱：{{ subject.title }}</h1>
  
作者：{{ subject.name}} ；時間：{{ subject.date|date:"F j, Y" }}<br /&glt;
<p><div class="text">{{subject.content}}</div></p>
 
 
 
{% if comments %}
<p>** 回覆文章 **</p>
{% for comment in comments %}
作者：{{ comment.name}}；時間：{{ comment.date|date:"F j, Y" }}
 
<p><div class="text">{{ comment.content }}</div></p>
{% endfor %}
{% else %}
<p>目前沒有回覆文章喔！</p>
{% endif %}
{% endblock %}
 
{% block sidebar %}
<a href="/">回到首頁</a>
 
<a href="add">回覆文章</a>
 
{% endblock %}